.todoBox {
  width: 400px;
  height: auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background: rgb(73, 72, 75);
  background: linear-gradient(
    90deg,
    rgba(73, 72, 75, 1) 26%,
    rgba(83, 105, 108, 1) 100%
  );
  margin: 10px 20px;
  flex-direction: column;
  border-radius: 7px;
}

.completedTodo {
  background: rgb(73, 72, 75);
  background: linear-gradient(
    90deg,
    rgba(73, 72, 75, 1) 26%,
    rgba(83, 105, 108, 1) 100%
  );
}

.todoBox .info {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.todoBox .info .title {
  font-size: 1.4rem;
}

.todoBox .info h2 {
  padding: 3px 5px;
  border-radius: 7px;
  background: #91b19d;
  color: #16a34a;
}

.completed {
  text-decoration: line-through;
}

.todoBox .info .btnBox {
  position: absolute;
  left: 92%;
  top: 35px;
  display: flex;
  flex-direction: column;
  animation: aniamtion 0.3s ease;
}

.todoBox .info .btnBox button {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  border-radius: 50%;
  font-size: 1.1rem;
  margin-top: 5px;
}

.todoBox .info .btnBox .checkComplete {
  background: #91b19d;
  color: #16a34a;
}

.todoBox .info .btnBox .edit {
  background: #c0a9b3;
  color: #db2777;
}

.todoBox .info .btnBox .delete {
  background: #a58989;
  color: #b91c1c;
}

.todoBox .info .showBtns {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  background: rgb(187, 187, 190);
  cursor: pointer;
}

.todoBox .description {
  width: 93%;
}

.todoBox .date {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.todoBox .date div {
  padding: 10px;
  border-radius: 7px;
  background: #74737b;
  color: #fff;
}

.hidden {
  display: none;
}

@keyframes aniamtion {
  from {
    top: 20px;
  }
  to {
    top: 35px;
  }
}
