.selectFilter {
  width: 30%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.selectFilter select {
  width: 200px;
  height: 30px;
  font-size: 1.5rem;
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 7px;
  margin-top: 20px;
}

.selectFilter select option {
  background: rgb(124, 139, 157);
}
